<div class="row">
	<div class="col-lg-6">
		<div class="panel panel-default">
		    <div class="panel-heading">User Profile</div>
		    <div class="panel-body">
		    	<div class="row">
		    		<div class="col-md-6">First Name</div>
		    		<div class="col-md-6"><%= current_user.firstname %></div>
		    		<div class="col-md-6">Last Name</div>
		    		<div class="col-md-6"><%= current_user.firstname %></div>
		    		<div class="col-md-6">Email</div>
		    		<div class="col-md-6"><%= current_user.email %></div>
		    	</div>
		    </div>
		  </div>
	</div>
</div>