



<div class="row">
	<div class="col-lg-6 col-lg-offset-3">
		<div class="panel panel-default">
    <div class="panel-heading">Create Product</div>
    <div class="panel-body">
    	<%= render 'form', product: @product %>
    </div>
     <div class="panel-footer">
     	<%= link_to 'Back', products_path, class:"btn  btn-primary" %>
     </div>
 </div>

	</div>
</div>


 